.creditCard{
    height: 425px;
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
}

.photo{
height: 250px;
/* transform: rotate(270deg); */
position: absolute;
top: -150px;
left: -242px;
z-index: 10;
/* transition: ease-out 0.5s ease;   */
/* transition: transform 2s; */
/* transform-origin: top left; */
}

.cc2{
    height: 410px;
    position: absolute;
    padding: 10px 30px;
    top: -5px;
    right: -220px;
    overflow: hidden;
   object-fit: contain;
   z-index: 1;
}