

.main{
    /* background-color: #262F4D; */
    background:  linear-gradient(0deg, #293352 0%, #192039 100%);
    height: 100px;
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:25px;
}

.icon{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 35px;
    height: 50px;
    width: 50px;
}